@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../public/bgHouse.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.startMenu, .endMenu {
  transition: 1s;
  border-radius: 15px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.333);
  backdrop-filter: blur(3px);
  max-width: 1350px;
  width: 90%;
  padding: 50px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.startMenu{
  opacity: 0;
}

.endMenu{
  opacity: 0;
}

.menuShow{
  opacity: 1 !important;
}

h1, h2 {
  font-size: 100px;
  font-family: 'Irish Grover', cursive;
  font-weight: normal;
  -webkit-text-stroke: 2px white;
  background: linear-gradient(0deg, #ffe75d 0%, #ff7b00 52%, rgba(255, 220, 17, 1) 100%);
  background-clip: text;
  color: transparent;
  background-size: 100% 200%;
  background-position: top;
  transition: 0.5s;
  transform: rotate(2deg);
}

h1:hover, h2:hover {
  transform: rotate(-2deg);
  background-position: bottom;
}

.startMenu img {
  width: calc(100% / 3);
  display: inline-block;
  vertical-align: middle;
  max-height: 400px;
  object-fit: contain;
}

.wheel {
  background-image: url("../public/candy.png");
  width: calc(100% / 3);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  display: inline-block;
  vertical-align: middle;
}

.wheel img {
  width: 100%;
  height: 100%;
}

button {
  font-size: 30px;
  font-family: 'Irish Grover', cursive;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: white;
  background: linear-gradient(30deg, #ffe75d 0%, #ff7b00 52%, rgba(255, 220, 17, 1) 100%);
  background-size: 200% 400%;
  line-height: 40px;
  padding: 0 20px;
  transition: 0.2s;
}

button:hover {
  border: 2px solid rgba(255, 255, 255, 1);
  background-size: 100% 200%;
}

.game{
  opacity: 0;
  transition: 1s;
}

#mazeImage {
  display: none;
}

#characterBoy,
#characterGhost {
  height: 50px;
  position: absolute;
  transition: opacity 0.5s;
  /* transition: transform 0.5s; */
}

.gameContainer {
  /* display: none; */

  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  backdrop-filter: blur(5px);
}

#timer {
  font-family: 'Irish Grover', cursive;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-125%, -50%);
  font-size: 100px;
  color: #ff7b00;
  text-shadow: 0 0 25px black;
}

.endMenu img{
  transform: scale(0.5);
  transition: 1.5s;
}

.endImgClass{
  transform: scale(1) !important;
}